p {
    color: grey;
    font-size: 20px;
}


a {
    color:#008D82;
}


h2 {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
  }


  body { 
    background-color:#D6E5EB;
    border: #388BA6,40px;
    border-style: solid;
    }


span {color: rgb(211, 194, 194);
font-weight: bold;
}

h3 {font-family: 'Times New Roman', Times, serif;
color:peru;
}


section {
    background-color: aliceblue;
padding-top: 2%;
margin-top: 0;}

    header{background-color:#B0A8B9;
    text-align: center; 
margin-left: auto;
margin-left: auto;
padding-bottom: 5%;
}


.image {border-radius: 50%;
}


aside { background-color: #ADC5CF;
width: fit-content;
height: auto;
padding-top:5%;
padding-bottom:5%;
font-size: 20px;
line-height: 2pc;
}


.name { 
    text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
color: antiquewhite;
 }

 article {margin-left: 5px
;margin-right: 5px;}

footer { margin-left: 4px;
margin-right: 4px;}