p {
    color: grey;
    font-size: 20px;
}


a {
    color: lightgreen;
}


h2 {
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
  }


  body { 
    background-color:black;

border: black;
}
a:hover {background-color:rgb(212, 245, 212) ;
}

div {
    background-color: rgb(220, 255, 255);
 }

span {color: rgb(211, 194, 194);
font-weight: bold;
}

h3 {font-family: 'Times New Roman', Times, serif;
color: antiquewhite;
}