p {
    color: grey;
    font-size: 20px;
}


a {
    color:#008D82;
}


h2 {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
  }


  body { 
    background-color:#D6E5EB;
}


span {color: rgb(211, 194, 194);
font-weight: bold;
}

h3 {font-family: 'Times New Roman', Times, serif;
color:peru;
}


section {
    background-color: aliceblue;}

    header{background-color:#B0A8B9;
    text-align: center; 
margin-left: auto;
margin-left: auto;}


.image {border-radius: 50%;
}


aside { background-color: #ADC5CF;
width: fit-content;
height: auto;
}


.name { 
    text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
color: antiquewhite;}